.div {
    position: sticky;
    top: 80px;
    z-index: 9999;
}
.myHeader {
    background-color: rgb(25, 20, 43);
    position: sticky;
    top: 0px;
    z-index: 997;
    display: flex;
    -webkit-box-pack: start;
    justify-content: start;
    -webkit-box-align: center;
    align-items: center;
    height: 60px;
}

.menu_text {
    display: inline-block;
    color: rgb(212, 218, 231);
    font-family: Larsseit;
    font-size: 18px;
    margin-left: 32px;
    line-height: 18px;
    cursor: pointer;
}
